# Carpetas de caché
__pycache__/
.pytest_cache/
*.pyc

# Configuración de VS Code
.vscode/

# Archivos temporales de sistema operativo
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivos generados por Docker
*.pid

# Variables de entorno
*.egg-info/
.env
.venv

# Archivos de datos
**/*.csv
**/*.json
